*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
}

header .navBar{
    text-align: center;
    background-color: black;
    color: white;
}

main{
    text-align: center;
    padding: 1rem 0;
}

table{
    text-align: center;
    left: 50%;
    top: 25%;
    position: absolute;
    transform: translateX(-50%);
    margin: 10rem 0;
}

.formAddTask{
    display: flex;
    flex-direction: column;
}
.formAddTask *{
    margin: 0.5rem auto;
    width: 15rem;
}

.tableDefault thead th,
.tableDefault tbody td{
    border: solid 0.1rem black;
    padding: 0.5rem;
}
.tableDefault thead th{
    background-color: lightgray;
}